body {
   
    margin: 0;
    display: flex;

    justify-content: center;
    
    height: 100vh;
}
canvas {
    background-color: green;
    
}



/* STARTSCREEN */
.startscreen {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/Schllllange.png");
  background-size: cover;
  background-position: center;
}

/* Menü */

.backshadow {
    width: 300px;
    padding: 20px;
    border-radius: 15px;          /* abgerundete Ecken */
    background: rgba(0, 0, 0, 0.5); /* transparentes Schwarz */
    color: rgb(0, 0, 0);                 /* Textfarbe */
    backdrop-filter: blur(5px);   /* optional: leichter Glas-Effekt */
  }

.gamescreen {
    display: none;

    width: 100vw;
    height: 100vh;

    background-color: black;

    justify-content: center;
    align-items: center;
}


/* Canvas */

#game {   
    background-color: #111;
    border: 4px solid white;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.4);
}


/* Button */

.buttons {
    background-color: rgb(8, 75, 192);
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border-width: 0px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color:white;
    font-size: 25px;
    
}

.stats  {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2vw;


}
