body {
    margin: 0;
    height: 100vh;
}

canvas {
    background-color: green;
    
}



/* STARTSCREEN */
.startscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../images/Schllllange.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
}

/* Menü */

.backshadow {
    width: 700px;
    height: 180px;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score-box {
    width: 180px;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 32px;

    color: white;

}

.menu-row {
    width: 100%;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.menu-grid {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "highscore lastscore"
        "play play";

    padding: 20px;
}

.highscore {
    grid-area: highscore;
    text-align: left;
    margin-left: 20px;
}

.lastscore {
    grid-area: lastscore;
    text-align: right;
    margin-right: 20px;
}

.play {
    grid-area: play;
    justify-self: start; /* links unten */
    align-self: end;
}

.label {
    font-size: 18px;
    color: white;
}

.value {
    font-size: 32px;
    color: white;
}

.gamescreen {
    display: none;

    width: 100vw;
    height: 100vh;

    background-color: black;

    justify-content: center;
    align-items: center;
}


/* Canvas */

#game {   
    background-color: #111;
    border: 4px solid white;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.4);
}


/* Button */

.buttons {
    background-color: rgb(8, 75, 192);

    width: 160px;
    height: 80px;

    border-radius: 12px;
    border-width: 0px;

    text-align: center;

    font-family: Helvetica, sans-serif;

    color: white;

    font-size: 36px;

    cursor: pointer;

    transition: 0.2s;
}

.buttons:hover {
    transform: scale(1.05);
}

.stats  {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2vw;


}
